body {
    background-color: rgb(134, 17, 184);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header { 
    font-size: 60px;
    border-bottom: double 5px;
    padding: 6px;
    text-align: center;
}

h1 { 
    font-size: 30px;
}

p {
font-size: 20px;
}