body {
    background-color: blueviolet;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10;
}

header { 
    font-size: 100px;
    padding: 10px;
    text-align: center;
}

h1 { 
    font-size: 30px;
    border-bottom: double 5px black;
    text-align: center;
}

p {
font-size: 20px;
text-align: center;
}

iframe, video {
display: block;
margin: 70 auto;
width: 10%;
max-width: 70%;
}
